.inputTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input {
  width: 100%;
  margin-top: 11px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 17px;
}

.notice {
  margin-top: 20px;
  background: rgba(54, 173, 178, 0.1);
  border: none;
  border-radius: 12px;
  padding: 31.64px 17px 17.54px 24px;
  width: 100%;
  height: 100%;
  font-size: 13px;
  .title {
    display: inline;
  }
  .text {
    display: inline;
  }
}
